<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/links/articulos" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <!--AQUI PONEMOS EL TIPO DE ARTICULO EXTRAIDO DE BD CATALOGO-->
                            <select name="tipo_id" class="form-select form-control"  aria-label="Default select example" pal required autofocus>
                                <option value="" disabled selected hidden>Tipo de artículo</option>
                                {{#each tipos}}
                                <option value="{{id}}">{{tipo}}</option>
                                {{/each}}
                            </select>
                        </div>
                        
                        <div class="form-group d-flex ">
                            <button type="button" class="btn btn-dark btn-sm ml-auto">
                                +
                            </button>
                        </div>
                        {{!-- <div class="form-group">
                            <input type="text" name="tipo" class="form-control" placeholder="Tipo">
                        </div> --}}
                        <div class="form-group">
                            <input type="text" name="articulo" class="form-control" placeholder="Artículo" required>
                        </div>
                        {{!-- <div class="form-group">
                            <input type="file" name="">
                        </div> --}}
                        <div class="form-group">
                            <div class="custom-file" >
                                <input name="uploaded_file"type="file" class="custom-file-input form-control text-light bg-dark" id="uploaded_file" required>
                                {{!-- customFile  --}}
                                <label class="custom-file-label form-control center-block mx-auto" for="customFile">Elige la fotografía</label>
                            </div>
                        </div>
                        <div class="image-preview center-block mx-auto" id="imagePreview">
                            <img src="" alt="Image Preview" class="image-preview__image center-block mx-auto">
                            <span class="image-preview__default-text center-block mx-auto">Image Prewiew</span>
                        </div>
                        {{!-- <div class="form-group">
                            <input type="url" name="foto" class="form-control" placeholder="URL de la fotográfia">
                        </div> --}}
                        <div class="form-group">
                            <textarea class="form-control" name="descripcion" aria-label="With textarea" placeholder="Descripción" required></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block" name="button1">
                                Agregar artículo al catálogo
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const uploaded_file = document.getElementById("uploaded_file");
    const previewContainer = document.getElementById("imagePreview");
    const previewImage = previewContainer.querySelector(".image-preview__image");
    const previewDefaultText = previewContainer.querySelector(".image-preview__default-text");

    uploaded_file.addEventListener("change", function() {
        const file =this.files[0];
        if(file){
            const reader = new FileReader();

            previewDefaultText.style.display ="none";
            previewImage.style.display= "block";

            reader.addEventListener("load", function(){
                console.log(this);
                previewImage.setAttribute("src", this.result);
            });
            reader.readAsDataURL(file);
        }else{
            previewDefaultText.style.display =null;
            previewImage.style.display= null;
            previewImage.setAttribute("src", "");
        }
    });
</script>